/*GLOBAL*/
body {

    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background: #e9e9e9;
    color: #666666;
    line-height: 1;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Play', sans-serif;
    font-weight: 400;

}
h1,
.et_pb_title_container h1{
    font-size: 38px;
    line-height: 35px;
    font-weight: 400;
    text-transform: uppercase;
}
h2{
    font-size: 30px;
    line-height: 33px;
    border-bottom:1px solid #9c9c9c;
    margin-bottom: 10px;
}
h3{
    font-size: 24px;
    line-height: 28px;

}
h4{
    font-size: 18px;
    line-height: 1;
}
p{
    /*font-size: 12px;*/
    line-height: 1.7;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    padding-bottom: 1em!important;
}
a, a:focus, a:hover, a:active {
    color: #666666;
    /*font-size: 15px;*/
    font-family: 'Lato', sans-serif;

}
strong{

    color: #7f8084;
}
span{
    font-size: 16px;
}
.prm-button,
.et_pb_button {
    max-width: 262px;
    height: 57px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    background-color: #424143;
    position: relative;
    will-change: background-color,color;
    -webkit-transition: background-color .3s ease-in-out,color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out,color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out,color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out,color .3s ease-in-out;
    transition: background-color .3s ease-in-out,color .3s ease-in-out;

}

.prm-button a,
.et_pb_button{
    color: #b7b7b7;
    font-size: 13px;
    line-height: 57px!important;
    border: 0;
    padding: 0;
}
.prm-button:hover{
    background-color: #d9d9d9;
    color: #424143;
}
.prm-button:hover a{
    color: #424143;
}
.prm-button a:hover{
    padding: 0!important;
    border:0!important;
    background-color: transparent!important;
}

.prm-button a:hover:after,
.et_pb_button:after{
    content: none;
}
.et_pb_button{
    background-color: transparent;
    border: 1px solid #424143;
    padding: 20px;
    line-height: 1!important;
    color:#666;
}
.et_pb_button:hover{

    padding: 20px!important;
    border: 0!important;
}
.et_pb_button_0:hover{
    font-size: 13px;
}

@media screen and (min-width:768px){
    .prm-button{
        width: 32% !important;
        margin-left: 1%;
        margin-right: 1%!important;
    }
}
@media screen and (min-width:1200px){
    .prm-button{
        width:30.4%!important;
        margin-left: 2.2%;
        margin-right: 2.2% !important;
    }
    .prm-button a{
        font-size: 16px;
    }
    .et_pb_button_0:hover{
        font-size: 16px;
    }

}
.prm-bg{
    background-color: #424143;
}
.sec-bg{
    background-color:#e9e9e9;
}
.prm-color{
    color:#424143;
}
.sec-color{
   color: #7f8084;
}

.ibs-container {
    margin-right: auto;
    margin-left: auto;
    width:100%;

}
#main-content.ibs-container{
    min-height: 100vh;
}
.et_pb_section{
    background-color: #e9e9e9;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 0!important;
}
.et_pb_row{
    padding: 0!important;
}
.et_pb_testimonial{
    background-color: #f3f3f3;
}
.small-bg-header{
    min-height: 350px;
}
.border{
    border-top: 1px solid rgba(156,156,156,0.8);
    border-bottom: 1px solid rgba(156,156,156,0.8);
}
.desktop{
    display: none;
}
@media screen and (min-width: 768px){
    .ibs-container {
        width: 750px;
    }
}
@media screen and (min-width: 980px){
    .et_pb_section{
        margin: 0 15px;
    }
    .et_pb_section > .et_pb_row{
        width: 74%;
        margin: unset;
    }
    .mobile{
        display: none;
    }
}

@media screen and (min-width: 992px){
    .ibs-container {
        width: 970px;
    }
}
@media (min-width: 1200px){

    .ibs-container {
        width: 1170px;
    }
    .et_pb_section > .et_pb_row{
        width: 75%;
    }

}
/*HEADER*/
#top-header{
    background-color: #fff;
}
#top-header #et-info span{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #4d4d4d;
}
header#main-header{
    padding: 11px;
    left:0;
    right:0;
    background-color: #7f8084;
    min-height: 87px;
}
header#main-header #et-top-navigation{
    padding-left: 0!important;
    padding-top:0!important;
}
header#main-header .mobile_menu_bar:before{
    color: #fff;
}

header#main-header .logo_container img{
    width: 150px;
    max-height: 65px;
    object-fit: cover;
}
header#main-header .mobile_menu_bar{
    margin-top: 20px;
}
header#main-header .et_mobile_menu {
    border-top: 3px solid #4d4d4d;
    top: 76px;
    right: 0;
    margin: 0 calc(50% - 50vw);
    width: 100vw;
}
header#main-header .et_mobile_menu  .sub-menu,
header#main-header .et_mobile_menu  .sub-menu li{
    padding: 0;
}
.wpml-ls-current-language{
    display: none!important;
}
@media screen and (min-width: 980px){
    .ibs-container{
        padding-top: 0!important;
    }
    header#main-header{
        width: 100%;
        max-width: 230px;
        height: 100%;
        z-index: 5;
        padding: 0;
        background: rgba(127,128,132,0.8);
        left: unset;
        right: unset;
        margin-left: 15px;
        top:0!important;
    }
    header#main-header #top-header{
        max-width: 230px;
        width: 100%;
        z-index: 5;
        left: unset;
        right: unset;
        bottom: 0;
        top: unset;
        background-color: rgba(64,63,66,0.8);
        padding: 30px;
        display:block;
    }
    header#main-header #top-header .container{
        width: 100%;
        padding-top: 8px;
    }
    header#main-header #top-header #et-info{
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
    }
    header#main-header #top-header #et-info span,
    header#main-header #top-header #et-info .et-social-icons li{
        margin: 0;
    }
    header#main-header #top-header #et-info span{
        font-size: 25px;
        color:#fff;
    }
    header#main-header #top-header #et-info .et-social-icons{
        margin-top:10px;
    }
    header#main-header #top-header #et-info .et-social-icons li a{
        width: 36px;
        height: 36px;
        margin-right: 10px;
        display: inline-block;
        color: #fff;
        font-size: 18px;
        border: 2px solid #d4d4d4;
        text-align: center;
        line-height: 35px;
        will-change: background-color,color;
        -webkit-transition: background-color .3s ease-in-out,color .3s ease-in-out;
        -moz-transition: background-color .3s ease-in-out,color .3s ease-in-out;
        -ms-transition: background-color .3s ease-in-out,color .3s ease-in-out;
        -o-transition: background-color .3s ease-in-out,color .3s ease-in-out;
        transition: background-color .3s ease-in-out,color .3s ease-in-out;

    }
    header#main-header #top-header #et-info .email{
        text-align: center;

    }
    header#main-header #top-header #et-info .email span {
        font-size: 16px;

    }
    header#main-header .et_menu_container{
        width: 100%;
        max-width: 100%;
        padding-left: 30px;
        display: flex;
        flex-flow: column;
    }
    header#main-header .logo_container  {
        position: unset;
        padding-top: 10px;
        padding-right: 30px;
    }
    header#main-header .logo_container img{
        min-width: 200px;
        min-height: 103px;
        object-fit: contain;
    }
    header#main-header #et-top-navigation{
        margin-top: 30px;
    }
    header#main-header #et-top-navigation #top-menu-nav{
        width: 100%;
    }
    header#main-header #et-top-navigation .nav{
        display: flex;
        flex-flow: column;
        width: 100%;
    }
    header#main-header #et-top-navigation .nav li{
        cursor: pointer;
        padding-right: 30px;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    header#main-header #et-top-navigation .nav li a,
    header#main-header #et-top-navigation .nav .sub-menu li a{
        display: block;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px 0;
        border-top: 1px solid #9c9c9c;
    }
    header#main-header #et-top-navigation .nav li:first-child a{
        border:none;
    }
    header#main-header #et-top-navigation .nav .sub-menu{
        background: rgba(66,65,67,0.75);
        border-color: transparent;
        left: 100%;
        top: 0;
        padding: 0;
        z-index: 9;
        width: 300px;
    }
    header#main-header #et-top-navigation .nav .sub-menu li,
    header#main-header #et-top-navigation .nav .sub-menu li a{
        width: 100%;
    }
    #et-secondary-nav .menu-item-has-children>a:first-child:after,
    #top-menu .menu-item-has-children>a:first-child:after{
        top:calc(50% - 7px);
        transform: rotate(-90deg);
    }
}
@media screen and (min-width: 1200px){
    header#main-header {
        max-width: 265px;
    }
    header#main-header #top-header{
        max-width: 265px;
    }
}

/*FOOTER*/
footer#main-footer{
    margin-top: 54px;
    padding: 25px 0 20px;
    background: #525154;
}
footer#main-footer .et_pb_section{
    background-color: transparent;
    padding: 0;
}
footer#main-footer .et_pb_section .et_pb_row{
    padding: 0;
}
footer#main-footer #footer-bottom{
    background-color:transparent;
}
footer#main-footer .bottom-nav{
    padding: 0;
}
footer#main-footer .bottom-nav li{
    display: inline-block;
    border-left: 1px solid #eeeae7;
    padding: 0 10px;
}
footer#main-footer .bottom-nav li:first-child{
    border-left: 0;
    padding-left: 0;
}
footer#main-footer .bottom-nav li a{
    color:#eeeae7;
}
@media screen and (min-width: 980px){
    footer#main-footer #footer-bottom .container{
        padding-left: 173px;
    }
}
@media screen and (min-width: 1200px){
    footer#main-footer #footer-bottom .container{
        padding-left: 188px;
    }
}

/*SLIDER*/
.ibs-slider,
#main-footer {
    margin: 0 calc(50% - 50vw);
}
.ibs-slider .et_pb_slide {
    min-height: 250px;
    width:100vw;
}

.ibs-slider .et_pb_slider .et-pb-controllers a{
    display: inline-block;
    margin: 0 3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: 0 0;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
    border: 1px solid #fff;
}
.ibs-slider .et_pb_slider  .et-pb-controllers .et-pb-active-control{
    background-color: #fff;
}
@media screen and (min-width: 980px){
    .ibs-slider .et_pb_slide{

        min-height: 50vh;
    }

    .ibs-slider .et_pb_slider  .et-pb-controllers{
        text-align: right;
        left: -30px;
    }

}
@media screen and (min-width:1200px){

    .ibs-slider .et_pb_slider .et-pb-controllers{
        left: 0;
        text-align: center;
    }

}

/*WELCOME SECTION*/
.ibs-welcome-section h1{
    margin-bottom: 5%;
    color: #424143;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Lato',sans-serif;
    font-size: 24px;
    display: flex;
    flex-flow: column;
    padding-bottom: 0;
}
.ibs-welcome-section span{
    color: #7f8084;
    font-size: 30px;
    font-weight: 400;
}
.ibs-welcome-section img{
    height: 340px;
    width: 100%;
    object-fit: cover;
}

/*RECENT POSTS*/
.ibs-recent-posts{
    padding: 0!important;
    list-style: none;
}
.ibs-recent-posts li{
    list-style: none;
    display: flex;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #dddddd;

}
.ibs-recent-posts li:first-child{
    border-top:0;
    padding-top: 0;
    margin-top:0;
}
.ibs-recent-posts li  .img-container{
    width: 26.4%;

}
.img-container img{
    min-height: 100%;
    object-fit: fill;
}

.ibs-recent-posts li .post-details{
    width: 70%;
    margin-left: 15px;
}
.post-details span{
    color: #424143;
    font-size: 16px;
    font-weight: 400;
}
.post-details p{
    font-size: 12px;

}
.read-more{
    /*margin-top: 10px;*/
    color: #afb2b7;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
}
.read-more:hover{
    font-size: 12px;
    text-decoration: underline;
}
/*Contact FORM*/

.contact-section h4{
    font-size: 20px;
    font-weight: 700;
    color:#666666;
    font-family: 'Lato',sans-serif;
    text-transform: none;
}
.contact-forms-section{
    flex-flow: column;
}
.page-id-404 .et_pb_row,
.page-id-397 .et_pb_row,
.page-id-369 .et_pb_row,
.contact-post-title .et_pb_row{
    padding: 0;
}

.et_pb_contact_select,
.et_pb_contact p input,
.et_pb_contact p textarea,
.et_pb_subscribe .et_pb_contact_field input,
.et_pb_subscribe .et_pb_contact_field textarea{
    background-color: #fff;
    color:#444444;
}
.et_pb_contact_submit{
    background-color: #444444;
    border:0;
    color:#fff;
    width:262px;
    will-change: background-color,color;
    -webkit-transition: background-color .3s ease-in-out,color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out,color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out,color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out,color .3s ease-in-out;
    transition: background-color .3s ease-in-out,color .3s ease-in-out;
}
.et_pb_contact_submit:hover{
    padding: .3em 1em!important;
    border:0!important;
    color: #424143;
}
.et_pb_contact_submit:hover:after{
    content: none;
}
.et_contact_bottom_container{
    width: 49%;
    justify-content: space-between;
}
[data-id="capcha"] label{
    display: block;
    text-align: end;
}
[data-id="capcha"] input{
    display: none;
}
    /*SINGLE POST*/
.single #main-content{
    background-color: transparent;
}
.single #main-content #left-area{
    float:right!important;
}
.single #main-content .container:before{
    width: 0;

}
/*DIVI LIBRARY*/
.ibs-section-buttons .et_pb_row{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2% 0!important;
}
@media screen and (min-width: 980px){
    .ibs-section-buttons .et_pb_row{
        flex-flow: row;
    }
}

/*NEWS PAGE*/
@media screen and (min-width: 980px) {
    /*.home .et_pb_salvattore_content > div{*/
    /*    width:47%!important;*/
    /*}*/
    /*.home .et_pb_salvattore_content >div:nth-child(2n) {*/
    /*    margin-right: 0!important;*/
    /*}*/
    .page-id-544 .et_pb_salvattore_content > div,
    .page-id-353 .et_pb_salvattore_content > div {
        width: 44%!important;
    }
}